.gM87-popup-background{
    background-color: rgba(0, 0, 255, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
}

.gM87-popup-container{
    background: white;
}