.search-container{
    min-width: 350px;
}

.search-box{
    position: relative;
    width: 80%;
    min-height: 250px;
    margin: auto;    
}

.search-box > .search-results{
    position: absolute;
    margin-top: 2px;
    height: 200px;
    width: 100%;    
    overflow: auto;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.search-box > .search-results.active{
    display: block;
}

.search-box > .search-results.inactive{
    display: none;
}

.search-box > .current-address{
    position: absolute;
    z-index: 1;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 5px ;
    z-index: 1;
}
